annotated-types==0.6.0
click==8.1.7
click-log==0.4.0
errorhandler==2.0.1
et-xmlfile==1.1.0
iso3166==2.1.1
numpy==1.26.3
openpyxl==3.1.2
pandas==2.2.0
psycopg2-binary==2.9.9
pyarrow==15.0.0
pydantic==2.6.0
pydantic_core==2.16.1
python-dateutil==2.8.2
python-dotenv==1.0.1
pytz==2023.4
six==1.16.0
SQLAlchemy==2.0.25
typing_extensions==4.9.0
tzdata==2023.4
